{% load static %}
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="https://cdn.discordapp.com/icons/715958380556058684/773d6583cd1d7aef41e701783d353aef.webp?size=128" type="image/x-icon">
	<meta name="description" content="Play your playlists and favourite tracks, albums, and artists">
	<meta name="keywords" content="convert, convert playlists, transfer, syncing, smart links, free, apple music, streaming services">
	{% block css %}
		<link rel="stylesheet" href="{% static 'formStyle.css' %}">
	{% endblock %}
	<title>Lushlyrics - Login</title>
</head>

<body>
	<div class="signup_header">
		<a href="" target="_blank"></a>
	</div>
	<div class="signup_body">
		<form class="login_form" method="POST">
			{% csrf_token %}
			<label for="login-username" class="label">Email address or username</label>
			{{ form.username }}
			
			<label for="login-password" class="label">Password</label>
			{{ form.password }}

			{% if form.non_field_errors %}
				<span style="color:#f79862;padding-bottom:20px;text-align:center;">
					{{ form.non_field_errors }}
				</span>
			{% endif %}
			
			<button class='btn btn_log_in' type="submit">Log in</button>
			<div class="divider"></div>
			<p class='label center-align'>Don't have an account?</p>
			<a class='btn btn_sign_up' href="{% url 'signup' %}">Sign Up for Lushlyrics</a>
            <a href="{% url 'password_reset' %}">Forgot your password?</a>
		</form>
	</div>
</body>

</html>
