{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://cdn.discordapp.com/icons/715958380556058684/773d6583cd1d7aef41e701783d353aef.webp?size=128" type="image/x-icon">
    <meta name="description" itemprop="description" content="Play your playlists and favourites tracks, albums, and artists">
    <meta name="keywords" content="convert, convert playlists, transfer, syncing, smart links, free, apple music, streaming services">
    <link rel="stylesheet" href="{% static 'formStyle.css' %}">
    <title>Lushlyrics - Password Reset Complete</title>
</head>

<body>
    <div class="signup_header">
        <a href="" target="_blank"></a>
    </div>

    <div class="signup_body">
        <div class="login_form">
            <span class="label signup-title center-align">Password reset complete</span>
            <p class="label center-align">Your password has been reset successfully. You can now <a href="{% url 'login' %}">log in</a> with your new password.</p>
        </div>
    </div>
</body>

</html>
